{
  "id": "{{ mod.name }}-{{ mod.version }}",
  "name": "oriole",
  "provides": [
    {
      "id": "{{ mod.name }}",
      "version": "1.0",
      "handlers": [
        {
          "methods": [ "GET", "POST", "PUT", "PATCH", "DELETE" ],
          "pathPattern": "/resources"
        }
      ]
    },
    {
      "id": "_tenant",
      "version": "1.0",
      "interfaceType": "system",
      "handlers": [
        {
          "methods": [ "POST" ],
          "pathPattern": "/_/tenant"
        }
      ]
    }
  ]
}
